.approvestep {
  border-radius: 12px;
  box-shadow: 0px 3px 50px rgba(0, 0, 0, 0.15);
  padding: 24px 30px;

  &__disclaimer {
    letter-spacing: 0.25px;
    line-height: 20px;
  }

  &__divider {
    border: 1px solid #e2e8f0;
    margin: 25px 0;
  }

  &__token {
    &__name {
      color: #1d2b4f;
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
    }

    &__symbol {
      color: #64748b;
      font-size: 12px;
      font-weight: 400;
    }
  }
}
