.beneficiariesstep {
  border-radius: 12px;
  box-shadow: 0px 3px 50px rgba(0, 0, 0, 0.15);
  padding: 24px 30px;
  background-color: white;

  &__disclaimer {
    letter-spacing: 0.25px;
    line-height: 20px;
  }

  &__divider {
    border: 1px solid #e2e8f0;
    margin: 25px 0;
  }
}
