.navbar {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 0;

  &__logo {
    display: block;
  }

  &__button__container {
    padding: 2px;
  }

  &__wallet__container {
    display: flex;
    flex-direction: row;
  }

  &__button {
    &--selected {
      &:after {
        content: "";
        border-top: 3px solid #5f4dff;
        position: absolute;
        top: 42px;
        width: 80%;
        border-radius: 3px 3px 0px 0px;
      }
    }
  }
}
