.testament {
  &__title {
    align-items: center;
    display: flex;
    flex-direction: row;
  }

  &__edit__icon {
    cursor: pointer;
  }

  &__actions {
    display: flex;
    justify-content: center;
  }
}
