.title {
  background-clip: text;
  color: linear-gradient(
    96.37deg,
    #17c0f1 14.28%,
    #5f4dff 46.4%,
    #e31792 78.52%
  );
  font-family: "Readex Pro";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px;
  text-align: center;
}

.subtitle {
  color: #000000;
  font-family: "Readex Pro";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
}
